
<div class="row flex-lg-row-reverse align-items-center g-5 py-4 mb-4">
    <div class="col-12 col-lg-6">
        <img src="./img/Notes.svg" alt="An image of a girl with notebook." class="note-image">
    </div>

    <div class="col-12 col-lg-6">
    <h2 class="display-5 fw-bold md-3">To be liberated from your unwanted stress, start writing.</h2>
    <a href="/vent"><button type="button" class="btn btn-primary"  style="width: 30%;"><h3 class="display-10 fw-bold ">Write Here</h3></button></a>
    </div>
</div>

<!--The actual contents of the website.-->

<h3>A little dose of Motivation and Positive Affirmation images.</h3>

<div class="carousel" data-flickity='{ "groupCells": true }'>
 
  <div class="carousel-cell">
    <img src=" /img/self1.webp" alt="Working out" >
    <h3 class="text1">“The body achieves what the mind believes.”</h3>
  </div>
  
  <div class="carousel-cell">
    <img src=" /img/make.png" alt="Positive quote1" >
  </div>

  <div class="carousel-cell">
    <img src=" /img/self2.jpeg" alt="old women doing yoga"  >
    <h3 class="text2">"It's never too late - never too late to start over, never too late to be happy."
      -Jane Fonda</h3>
  </div>

  <div class="carousel-cell">
    <img src=" /img/pos6.png" alt="Positive Quote2">
  </div>

  <div class="carousel-cell">
    <img src=" /img/self3.webp" alt="Startup presentation" >
    <h3 class="text3">“The value of an idea lies in the using of it."
      – Thomas Edison, General Electric Co-founder
     
     </h3>
  </div>

  <div class="carousel-cell">
    <img src=" /img/butterfly.png" alt="Working out">
  </div>

  <div class="carousel-cell">
    <img src=" /img/self6.jpg" alt="Girl on a hill" >
    <h3 class="text4">“Do one thing every day that scares you.” ―Eleanor Roosevelt”</h3>
  </div>

  <div class="carousel-cell">
    <img src=" /img/self4.webp" alt="positive quote3" >
  </div>
  
  <div class="carousel-cell">
    <img src=" /img/self7.png" alt="Guy helping hemself out" >
    <h3 class="text5">“Everything you can imagine is real.”―Pablo Picasso</h3>
  </div>

  <div class="carousel-cell">
    <img src=" /img/pos8.png" alt="positive quote4" >
  </div>

</div><br><br>

<h3>A little dose of Motivation and Positive Affirmation videos.</h3>

<div class="carousel" data-flickity='{ "groupCells": true }'>
 
  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/d8p-5WcXoRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/yo1pJ_D-H3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/-ozOLVOS-R8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/tqWg0sMXM-I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/eBSeCp__xhI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/j71q6zlbO3I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/58cXgweaKm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/hBzP8MtJf04" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  
  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/-fizUVHGHsg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div class="carousel-cell">
    <iframe width="410" height="399" src="https://www.youtube.com/embed/7bJ8mT9nOzc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

</div>
   
